<div class="text-center">
    <h1 class="display-4">Hi Ho</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Styles {
    <style>
        #feedback {
            border: 1px solid black;
            background-color: yellow;
            position: relative;
            top: -1px;
            display: none;
        }
    </style>
}

@{
    string firstName = "Bobafett";
}

<script>
    function clickit1() {
        alert('here1');
    }
    var clickit2 = function () {
        alert('here24');
    }
    document.addEventListener('DOMContentLoaded', function () {

        var button = document.getElementById('thebutton');
        //button.addEventListener('click', clickit1);
        button.addEventListener('click', function () {
            //alert('here3');
        });
        button.addEventListener('click', () => {
            //alert('here arrow');
            let div = document.getElementById("feedback");
            div.innerHTML = 'You clicked ' + this;
            div.style.display = 'block';
            div.addEventListener('mouseover', function () {
                currpos = parseInt(this.style.top);
                if (isNaN(currpos)) {
                    currpos = 0;
                }
                currpos -= 1;
                this.style.top = currpos + 'px';
            });
        });

        lis = document.querySelectorAll('.thelist > li');
        lis.forEach((elem) => {
            alert(elem.innerText);
        });
    });

</script>

<div id="feedback"></div>
<ul class="thelist">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
    <li>Item 4</li>
    <li>Item 5</li>
</ul>
<div>
    <button id="thebutton">I'm a COOL Button</button>
</div>


<form method="post" onsubmit="return submitHandler()">
    <label>First Name:</label>
    <input type="text" name="FirstName" value="@firstName" />
    <br />
    <label>Last Name:</label>
    <input type="text" name="LastName" />
    <br />
    <label>Can boogie:</label>
    <input type="checkbox" name="CanBoogie" />
    <br />
    <input type="submit" value="GO" />
</form>

@section Scripts {
    <script>



        function submitHandler() {
            //var vals = '';
            //for (var i = 0; i < document.forms[0].elements.length; i++) {
            //    vals += document.forms[0].elements[i].value + "\n";
            //}
            fname = document.forms[0].elements['FirstName'].value;
            lname = document.forms[0].elements['LastName'].value;
            isValid = true;
            feedbackDiv = document.getElementById("feedback");
            feedbackDiv.innerHTML = '';
            if (fname.trim().length == 0) {
                feedbackDiv.style.display = 'block';
                feedbackDiv.innerHTML += '<p>First Name is Required!</p>';
                isValid = false;
            }
            if (lname.trim().length == 0) {
                feedbackDiv.style.display = 'block';
                feedbackDiv.innerHTML += '<p>Last Name is Required!</p>';
                isValid = false;
            }
            return isValid;
        }
    </script>
}